@import "variables.scss";

// Global Components

body {
    overflow-x: hidden;
    // @include body-font;
}


p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}



h1, h2, h3, h4, h5, h6 {
    // @include heading-font;
    font-weight: 700;
}


.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

// Custom Navigation Bar

.navbar-custom {
    background-color: #031A27;
    border-color: transparent;
    .navbar-brand {
        color: white;
        // @include heading-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: white;
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .03);
    }
    .navbar-toggle {
        background-color: rgba(12, 40, 59, 1);
        border-color: $theme-primary;
        // @include heading-font;
        color: white;
        font-size: 12px;
        padding-right: 18px;
        padding-left: 18px;
        &:hover,
        &:focus {
            background-color: rgba(12, 40, 59, 1);
        }
    }
    .nav {
        li {
            a {
                // @include heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                text-shadow: 1px -1px 30px black;
                &:hover{
                    color: white;
                    outline: none;
                }
                &:focus{
                  color: white;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: rgba(12, 40, 59, 1);
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: rgba(12, 40, 59, 1);
    }
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
}

// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: #031a27;
        padding: 0 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}

header {
    background-image: url('/img/header_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    // @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
        .intro-lead-in {
            // @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            // @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                // @include serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                // @include heading-font;
                font-weight: 700;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}
@media(max-width:768px) {
  header{
    .intro-text{
      padding-bottom: 160px;
      .intro-heading{
        padding-top: 50px;
        margin-bottom: 50px;
      }
    }
  }
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-bottom: 15px;
        margin-top: 0;
    }
    h3.section-subheading {
        font-size: 16px;
        // @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

// About Section
#about{
  .about-img{
    background-image: url("../img/about/about-pic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
  }
  .about-desc{
    .bio{
      padding-bottom: 0;
    }
    .skills{
      ul li span{
        float: right;
      }
    }
  }
}
@media only screen and (max-width: 1199px){
  #about{
    .about-img{
      height: 570px;
    }
  }
}
@media only screen and (max-width: 991px){
  #about{
    .about-img{
      display: none;
    }
    .about-desc{
      .about-me{
        text-align: center;
      }
      .bio{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
      }
      .mb-pic{
        background-image: url("../img/about/about-pic.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 200px;
        margin: 0 auto;
        border-radius: 100px;
        margin-bottom: 30px;
      }
    }
  }
}
// Portfolio Section

#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade-out(black, .3);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
        .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                // @include serif-font;
                font-style: italic;
                font-size: 11px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}
@media(min-width:1199px) { //===========================================================
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}
@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}
// Testimonials section
section#testimonials{
  .section-heading{
    margin-bottom: 70px;
  }
  .review1{
    width: 300px;
    margin: auto;
    overflow: hidden;
    b{
      font-size: 18px;
      float: right;
      margin-right: 15px;
    }
    p{
      text-align: center;
      font-size: 16px;
      color: grey;
      line-height: 20px;
      padding: 5px;
      letter-spacing: 1.2px;
      span{
        position: relative;
        right: 16px;
        font-size: 25px;
      }
      .rightQ{
        left: 40px;
      }
    }
  }
}
@media(max-width: 400px) {
    section#testimonials{
      .section-heading{
        font-size: 35px;
      }
    }
}

// Contact Section
section#contact {
    // background-color: $gray-darker;
    background-image: url('/img/footer_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    .section-heading {
        color: white;
    }
    .emailBtn{
        background: white;
        padding: 12px 30px;
    }

}

// Footer

footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        padding-top: 40px;
        // @include heading-font;
        text-transform: none;
    }
}

// Social Buttons
ul.social-buttons {
    margin-bottom: 18px;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}
